/* Base Styles (Extra Small Devices) */

html {
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #444444;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: #222222;
}


h1 {font-size: 2.5rem;}
h2 {font-size: 2rem;}
h3 {font-size: 1.75rem;}
h4 {font-size: 1.5rem;}
h5 {font-size: 1.25rem;}
h6 {font-size: 1rem;}

a {
  text-decoration: none;
  color: #3B82F6;
}

a:hover, a:focus {
  color: #1D4ED8;
}

/* Navbar */
#navbar {
  padding: 8px;
  margin: 0;
}

#logo {
  display: block;
}

#logo-with-text {
  display: none;
}

/* Banner */
#banner {
  object-fit: cover;
  height: 150px;
  width: 100%;
}

/* About Section */
h1 {
  text-align: center;
  margin: 8px 0;
}

#about {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  padding: 8px;
}

#description {
  font-size: 1.25rem;
}

#team-image {
  border-radius: 5px;
  width: 100%;
}

/* Job Opportunities Section */
h2 {
  text-align: center;
}

#jobs-list {
  display: block;
  padding: 8px;
}

#jobs-table {
  display: none;
}

.job {
  border: 1px solid #ddd;
  margin-top: 4px;
  border-radius: 4px;
  padding: 8px;
}

.job-title {
  font-size: 1.25rem;
  font-weight: 500;
  color: #222;
}

.job-detail {
  margin-top: 4px;
  color: #555;
}

/* Application Form Section */

#application {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 8px;
}

.form-group {
  margin: 16px 0;
}

#application-form label {
  font-weight: 600;
}

#application-form input, select, textarea {
  width: 90%;
  padding: 8px;
  font-size: 1.25rem;
  margin-top: 4px;
  border-radius: 5px;
  border: 1px solid gray;
}

.form-group textarea {
  width: 80%;
  font-family: 'Roboto', sans-serif;
}

.form-group input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

.form-group input[type="submit"] {
  background-color: #3B82F6;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

/* Footer Section */
#footer {
  background-color: #E2E8F0;
  padding: 8px;
  margin-top: 32px;
  text-align: center;
}

#footer-links {
  list-style: none;
  padding-left: 0;  
}

#footer-links li {
  margin: 4px 16px;
}

.copyright {
  color: #71717A;
  font-size: 0.875rem;
}

/* ------------------------------------------------------------------------------------- */
/* Small Devices (Tables) */

@media screen and (min-width: 576px) {
  html {
    font-size: 16px;
  }

  #logo {
    display: none;
  }
  
  #logo-with-text {
    display: block;
  }

  #banner {
    object-fit: cover;
    height: 220px;
    width: 100%;
  }

  /* About Section */
  h1 {
    text-align: center;
    margin: 16px 0;
  }

  #footer-links li {
    display: inline;
  }
}

/* ------------------------------------------------------------------------------------- */
/* Medium Devices (Laptops) */
@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }

  #banner {
    object-fit: cover;
    height: 300px;
    width: 100%;
  }

  /* About Section */
  h1 {
    text-align: center;
    margin: 20px 0;
  }

  #about {
    display: flex;
    flex-direction: row;
    max-width: 800px;
    margin: 0 auto;
    padding: 8px;
  }

  #description {
    width: 50%;
    padding-right: 8px;
    font-size: 1.25rem;
  }

  #team {
    width: 50%;
  }

  /* Job Opportunities Section */
  #jobs {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 8px;
  }

  #jobs-list {
    display: none;
  }

  #jobs-table {
    display: table;
    width: 100%;
    border: 1px solid gray;
    border-collapse: collapse;
  }

  .jobs-header-row th {
    border: 1px solid gray;
    padding: 8px;
    background-color: #BFDBFE;
    text-align: center;
    color: #222222;
  }
  
  .jobs-data-row td {
    border: 1px solid gray;
    padding: 8px;
  }
  
  #jobs-table tr:nth-child(odd) {
    background-color: #EFF6FF;
  }
}

/* Application Form Section */

#application {
  max-width: 800px;
}
/* ------------------------------------------------------------------------------------- */
/* Large Devices (Desktops) */
@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }

  /* Job Opportunities Section */
  #jobs {
    min-width: 800px;
  }
}


/* ------------------------------------------------------------------------------------- */

/* 













*/